{% assign activities = site.data.data.activities %}
{% if activities %}
<section class="section activities-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-list-ul fa-stack-1x fa-inverse"></i>
    </span>
    {{ activities.title }}
  </h2>

  {% if activities.intro %}
  <div class="intro">
    <p>{{ activities.intro }}</p>
  </div>
  <!--//intro-->
  {% endif %}

  <style>
    ul{
      margin:20px; padding:0px;
      list-style-type: disc;
      display: block;
      }  
  </style>

  <ul>
  {% for activity in activities.assignments %}
  <div class="item">
    <li class="meta">
      <div class="upper-row">
          
        <div class="position">{{ activity.position }}</div>
        <div class="time">{{ activity.time }}</div>
          
      </div><!--//upper-row-->

      <div class="company">{{ activity.company }}</div>
      <div class="title">{{ activity.title }}</div>
    </li><!--//meta-->
  </div><!--//item-->
  {% endfor %}
  </ul>  

</section>
<!--//section-->
{% endif %}